"*" 
Lab2/master_mind/graphics.py
Lab2/master_mind/master_mind_GUI.py
Lab3/sierpinskis_tiangel/graphics.py
Lab3/master_mind_highscore/graphics.py
Lab3/master_mind_highscore/master_mind_GUI.py
Lab4/flood_fill/graphics.py
övningar/övning/graphics/graphics.py
*.pyc
*.txt
*.swp